<div id="comment-<%= toolkit.priority %>" class="modal toolkit-comment">
  <p class="call">Please share any builds or additional resources that will help our changemaking community</p>
  <%= 
      render :partial => "comments/panel", :locals => { 
          :comments => toolkit.comments, 
          :commentable => toolkit
      } 
  %>
  <span class="modal_close"></span>
	
</div>