<div id="share-<%= toolkit.priority %>" class="modal toolkit-share">
  <p class="call">Share '<%= toolkit.title %>'</p>
  <ul>
		<li class="splash-twitter"><%= link_to "Twitter", "https://twitter.com/SocIntLeague" %></li>
		<li class="splash-facebook"><%= link_to "Facebook", "http://www.facebook.com/leagueofintrapreneurs" %></li>
	</ul>
</div>