<section id="primary_content" class="container inspiration">
  
  <div id="schemantics">

	  <% if @intrapreneurs.any? %>
  	<ul class="content_grid">
		
  		<% @intrapreneurs.each do |intrapreneur| %>
  		  
  		  <li class="person_block">
  		  
  		    <div class="media">
  		      <h2><%= link_to intrapreneur.name, person_path(intrapreneur) %></h2><br />
  		      <%= simple_format intrapreneur.job_title %>
  		    </div> 
  			  <% unless intrapreneur.hero_image.url.nil? %>
            <%=  image_tag intrapreneur.hero_image.thumbnail %>
          <% end %>
  			  
			  </li>
  		
  		<% end %>
		
  	</ul>
  	<% else %>
  	<p>Nothing here yet!</p>
  	<% end %>
  	
  </div>

</section>