<section id="primary_content" class="container">
	
	<div id="schemantics" class="panel">
		<h1>About the League</h1>
		<p>Do you work for big business? Are you responsible for launching a new initiative, product or service that is a force for good in the world? Would your colleagues describe you as a bit of a maverick, conspirator or disruptor? </p>
		<p><em>If so, you may be a social intrapreneur!</em></p>
		<p>Social intrapreneurs are becoming key actors in the race towards a new kind of economy. These corporate changemakers are developing scalable solutions to some of the world’s most intractable problems ranging from health to education to environment. But contrary to social entrepreneurs, they are innovating from within some of the world’s largest companies.</p>
		<p>Delivering game-changing innovation inside a company is never easy, but it’s even more challenging when the problems you’re tackling – such as climate change or poverty &ndash; are not always well understood or overtly connected to the business strategy.</p>
		<p>That's why we established the League of Intrapreneurs &ndash; to help support and strengthen this growing movement of corporate change agents transforming business from the inside out.</p>
		<p>Will you <%= link_to "join us?", join_path %></p>
	</div>
	
	<aside>
		<iframe src="http://player.vimeo.com/video/57211971?byline=0&amp;show_portrait=0&amp;color=E40F4F" width="400" height="221" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	 </aside>
	
</section>
