<section id="primary_content" class="container">
	
	<h1>Join the League</h1>
	

	<div id="schemantics" class="panel">

		<p>Want to re-invent business and connect with others doing the same? Join the League.</p> 
		<p>We'll keep you updated on the latest news, events and other intrapreneurship happenings. We won't pass your details on to anyone else, read our <%= link_to "privacy policy", privacy_path %> for more.</p>
	
	</div>
	
	<aside>
		<form action="http://leagueofintraprenuers.us6.list-manage.com/subscribe/post?u=0aa8655fab29ac4bd11775b73&amp;id=f4d6435111" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div class="input smart_label email">
				<label for="mce-EMAIL">Your email address</label>
				<input type="email" value="" name="email" class="required email" />
			</div>
			<div class="input smart_label string">
				<label for="mce-NAME">Your name</label>
				<input type="text" value="" name="name" class="string" />
			</div>
			<div id="mce-responses">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<input type="submit" value="Join the league" name="subscribe" id="mc-embedded-subscribe" class="button" />
		</form>
	<aside>
	
</section>
