<section id="featured_content" class="container">
	<ul id="archetypes">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</section>

<section id="primary_content" class="container panels">
	
	<div class="panel">	
		<h2>Featured resource</h2>	
	</div>
	
	<div class="panel">
		<h2>Featured event</h2>	
	</div>
	
	<div class="panel">	
		<h2>Twitter</h2>
	</div>
	
</section>

