<section id="featured_content" class="container">
	<h2>Featured content</h2>
</section>

<section id="primary_content" class="container">
	
	<nav id="type_navigation">
		<ul>
			<li><%= link_to "Audio" %></li>
		</ul>
	</nav>
	
	<ul id="content_grid">
		
	</ul>
	
</section>