<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><strong><b>Toolkit comment for '<%= toolkit.title %>'</b></strong></p>
    <p>
      From: <%= comment.name %><br />
      Email: <%= comment.email %><br />
      <br />
      "<%= comment.body %>"
    </p>
  </body>
</html>