<section id="primary_content" class="container">
	
	<h1>Resources</h1>
	
	<div id="schemantics" class="panel">
	
		<% if @resources.any? %>
			<% @resources.each do |resource| %>
		
				<article class="resource">
				  
				  <% unless resource.image.url.nil? %>
        		<%=  image_tag resource.image.thumbnail %>
        	<% end %>
				  
					<div class="media">
					  <h2><%= link_to resource.title, resource.url %></h2>
					  <%= simple_format resource.body %>
					</div>
					
				</article>
			
			<% end %>
		<% end %>
	
	</div>
	
	<aside>
		<p>While most intrapreneurs are experts at learning by doing, they also crave insights from others taking on the challenge of corporate change. Here we feature resources &ndash; reports, projects and organizations &ndash; designed to help strengthen intrapreneurial skill sets.</p>
		<p class="cta"><%= link_to "Share a resource with us", "mailto:hello@leagueofintrapreneurs.com?New%20intrapreneurial%20resource" %></p>
	</aside>
	
</section>