<section id="primary_content" class="container">
	
	<div id="schemantics">
		<ul class="content_grid">

		</ul>
	</div>
	
	<aside>
		<% if @types.any? %>
		<h2>Type of inspiration</h2>
		<nav id="type_navigation">
			<ul class="filters">
				<% @types.each do |type| %>
					<li><%= link_to type.title %></li>
				<% end %>
			</ul>
		</nav>
		<% end %>

		<% if @tags.any? %>
		<h2>Tags</h2>
		<nav id="type_navigation">
			<ul class="filters">
				<% @tags.each do |tag| %>
					<li><%= link_to tag.name %></li>
				<% end %>
			</ul>
		</nav>
		<% end %>
	</aside>

</section>

