<section id="primary_content" class="container">
	<article class="post">
		<h1><%= @post.title %></h1>
		<time>Posted on <%= @post.created_at.to_formatted_s(:article) %></time>
		<% if @post.body.is_json? %>
		<%= render_sir_trevor(@post.body) %>
		<% else %>
		<%= sir_trevor_markdown(@post.body).html_safe %>
		<% end %>
	</article>
</section>